@import '../../../sass/variables';

.navbar-component {
  position: fixed;
  left: 0;
  right: 0;
  background: rgba(#FFF, 0.08);
  backdrop-filter: blur(10px);
  z-index: 30;

  &--content {
    display: flex;
    max-width: 976px;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    margin: 0 auto;

    @media (max-width: 1024px) {
      padding: 12px 24px;
    }

    @media (max-width: 710px) {
      padding: 12px;
    }

    &__logo {
      text-decoration: none;
      color: $color-primary;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    &__navbar {
      display: flex;
      align-items: center;
      gap: 24px;

      &--upload {
        color: $color-secondary;
        text-decoration: none;
        height: 49px;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: all 0.4s;

        &:hover {
          color: $color-primary;
          text-decoration: underline;
        }

        @media (max-width: 1024px) {
          height: 33px;
        }
      }

      &--search {
        display: flex;
        align-items: center;
        gap: 24px;
        cursor: pointer;
        transition: all 0.4s;

        &:hover {
          color: $color-primary;
        }

        input {
          width: 0px;
          padding: 14px 0;
          color: $color-primary;
          font-size: 16px;
          font-weight: 400;
          background: none;
          border: 0;
          outline: 0;
          transition: width 0.8s;

          @media (max-width: 1024px) {
            width: 120px;
            border-bottom: 3px solid $color-primary;
            padding: 8px 0;
            font-size: 13px;
          }

          &::placeholder {
            color: $color-secondary;
          }
        }

        @media (max-width: 1024px) {
          svg {
            width: 18px;
            height: 18px;
          }
        }
      }

      .active {
        color: $color-primary;
      }
    }
  }
}

#searchButton.active {
  input {
    width: 230px;
    border-bottom: 3px solid $color-primary;

    @media (max-width: 1024px) {
      width: 120px;
    }
  }
}