.upload-modal {
  position: relative;
  height: calc(100vh - 25px);

  &__position {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}