@import '../../../sass/mixins';

.intro-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

  &__paragraph {
    margin-bottom: 18px
  }

  &__action-btn {
    @include primary-button();
  }
}