@import '../../../../sass/variables';
@import '../../../../sass/mixins';

.modal-gif-close {
  opacity: 0;
}

.modal-gif-open {
  opacity: 1;
}

.modal-upload-gif {
  width: 100%;
  max-width: 800px;
  border: none !important;
  border-radius: 8px;
  background: $background-modal;
  padding: 34px;
  transition: all 0.4s;

  &::backdrop {
    background-color: rgba(#000, .45);
  }

  &--content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;

    &__close {
      position: absolute;
      top: 20px;
      right: 20px;
      @include simple-btn-with-hover();
    }

    &__main {
      display: flex;
      gap: 24px;
      width: 100%;
      margin-top: 40px;

      img {
        height: 200px;
        aspect-ratio: 3 / 2;
        object-fit: cover;
        border-radius: 4px;
        box-shadow: 0 1px 6px rgba(25, 25, 34, .16);
      }

      &--content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 24px;
        width: 100%;

        h2 {
          font-family: 'Anek Gujarati', sans-serif;
          font-size: 32px;
          line-height: 24px;
          margin: 0;
          color: $primary-text-modal;
        }

        &__name-input {
          label {
            display: block;
            color: $secondary-text-modal;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 6px;
          }

          input {
            width: -webkit-fill-available;
            padding: 14px;
            color: $primary-text-modal;
            font-size: 16px;
            font-weight: 400;
            background-color: $background-input-modal;
            border: 1px solid $secondary-text-modal;
            border-radius: 4px;

            &::placeholder {
              color: $secondary-text-modal;
            }
          }
        }
      }
    }

    &__save {
      @include primary-button("SAVE");
      margin: 28px 0;
      text-transform: uppercase;
    }
  }
}