@import './sass/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Anek+Gujarati:wght@600;800&family=Open+Sans:wght@500;600;700&display=swap');

:root {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: $color-secondary;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  display: flex;
  min-width: 100%;
  min-height: 100vh;
  background-color: hsla(344, 96%, 57%, 1);
  background-image:
    radial-gradient(at 0% 100%, hsla(54, 98%, 69%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(344, 97%, 58%, 1) 0px, transparent 50%),
    radial-gradient(at 100% 100%, hsla(325, 96%, 51%, 1) 0px, transparent 50%),
    radial-gradient(at 100% 0%, hsla(300, 45%, 36%, 1) 0px, transparent 50%);
  
}

#root {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 24px;
  padding-top: 0;
}

h1 {
  font-family: 'Anek Gujarati', sans-serif;
  font-size: 36px;
  line-height: 32px;
  font-weight: 600;
  color: $color-primary;
  margin: 0;
}

h2 {
  font-family: 'Anek Gujarati', sans-serif;
  font-size: 64px;
  line-height: 58px;
  font-weight: 800;
  color: $color-primary;
  margin: 0;
}

p {
  font-weight: 600;
  font-size: 24px;
  margin: 0;
}

b {
  color: $color-primary;
  font-weight: 600;
  font-size: 24px;
  margin: 0;
}